*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:1170px;
    margin:auto;
}
#header{
    height:100px;
    background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: 10px 10px 35px #717779;
    display: flex;
    align-items: center;
}
#header span{
    cursor:pointer;
    color: #fff;
    background: #22c1c3;
    padding:10px;
    font-size: 20px;
}
#sidebar{
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    width:0%;
    height: 100vh;
    top:0;
    left:0;
    transition: 0.5s;
}
#sidebar .menu{
    width:80%;
    max-width:350px;
    background-color:#37d4d6;
    height:100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar  ul li a{
    color:#fff;
    padding:20px;
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
#sidebar  ul li a:hover{
   color:#eaed12;
}
#sidebar .menu ul li{
    list-style-type: none;
}
#sidebar .cross{
    background-color: #e7e9eb;
    position: absolute;
    right:30px;
    top:30px;
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
}
#sidebar.active{
    width:100%;
}
#sidebar .cross:hover{
    background-color: #eaed12;
    transition: 0.3s;
}